.user-cover img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .user-cover {
    display: flex;
    margin: 20px;
   
  }
  .username {
    margin: 10px;
  }
  .username p {
    color: #999;
    margin: 5px;
    font-size: 0.8em;
  }
  